In [63]:
import pandas as pd

In [64]:
# Initialize lists of data
data = [["OFFER IS SECRET", "spam"], ["PLAY SPORTS TODAY", "ham"], ["CLICK SECRET LINK", "spam"], ["WENT PLAY SPORTS", 'ham'], ["SECRET SPORTS LINK", "spam"], ["SECRET SPORTS EVENT", "ham"], ["SPORTS IS TODAY", "ham"], ["SPORTS COSTS MONEY", "ham"]]

# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Email', 'Class'])

# print df
df

                 Email Class
0      OFFER IS SECRET  spam
1    PLAY SPORTS TODAY   ham
2    CLICK SECRET LINK  spam
3     WENT PLAY SPORTS   ham
4   SECRET SPORTS LINK  spam
5  SECRET SPORTS EVENT   ham
6      SPORTS IS TODAY   ham
7   SPORTS COSTS MONEY   ham

In [65]:
# Lower case all the emails
df.Email = df.Email.str.lower()
df

                 Email Class
0      offer is secret  spam
1    play sports today   ham
2    click secret link  spam
3     went play sports   ham
4   secret sports link  spam
5  secret sports event   ham
6      sports is today   ham
7   sports costs money   ham

In [66]:
df['Email']

0        offer is secret
1      play sports today
2      click secret link
3       went play sports
4     secret sports link
5    secret sports event
6        sports is today
7     sports costs money
Name: Email, dtype: object

In [67]:
df['Count'] = [len(sent.split(" ")) for sent in df['Email']]
df

                 Email Class  Count
0      offer is secret  spam      3
1    play sports today   ham      3
2    click secret link  spam      3
3     went play sports   ham      3
4   secret sports link  spam      3
5  secret sports event   ham      3
6      sports is today   ham      3
7   sports costs money   ham      3

In [68]:
# getting total number of distinct words in the emails
email_tokens = []
for index, row in df.iterrows():
    email_tokens.append(row['Email'].split(' '))

email_tokens = [j for sub in email_tokens for j in sub]

num_of_classes = len(set(email_tokens))
num_of_classes

12

In [69]:
num_words_spam = df[df['Class'] == 'spam'].Count.sum()
num_words_spam

9

In [70]:
num_words_ham = df[df['Class'] == 'ham'].Count.sum()
num_words_ham

15

In [71]:
p_spam = len(df[df['Class'] == 'spam']) / len(df)
p_spam

0.375

In [72]:
p_spam_smothed = (len(df[df['Class'] == 'spam']) + 1) / (len(df) + 2)
p_spam_smothed

0.4

In [73]:
p_ham = len(df[df['Class'] == 'ham']) / len(df)
p_ham

0.625

In [74]:
p_ham_smothed = (len(df[df['Class'] == 'ham']) + 1) / (len(df) + 2)
p_ham_smothed

0.6

In [75]:
# Calculate the probability that an email is spam
def naive_bayes_spam(email):
    email = email.lower()
    p_email_given_spam = total_liklehood(email, 1)
    p_email = total_liklehood(email, 1) * p_spam + total_liklehood(email, 0) * p_ham
    prob_naive_bayes_spam = (p_email_given_spam * p_spam) / (p_email)
    
    return prob_naive_bayes_spam

In [76]:
# Calculate the probability that an email is spam with Laplacian Smoothing
def naive_bayes_spam_smoothed(email, spam_ham, k):
    email = email.lower()
    p_email_given_spam = total_liklehood_smothed(email, spam_ham, k)
    p_email = total_liklehood_smothed(email, spam_ham, k) * p_spam_smothed + total_liklehood_smothed(email, 1 - spam_ham, 1) * p_ham_smothed
    prob_naive_bayes_spam = (p_email_given_spam * p_spam_smothed) / (p_email)
    
    return prob_naive_bayes_spam

In [77]:
# Calculate product od liklehoods of an email
def total_liklehood(email, spam_ham):
    total_liklehood = 1
    tokens = email.split(" ")
    for token in tokens:
        total_liklehood *= likelihood(token, spam_ham)
    
    return total_liklehood

In [78]:
# Calculate product od liklehoods of an email (smothed)
def total_liklehood_smothed(email, spam_ham, k):
    total_liklehood = 1
    tokens = email.split(" ")
    for token in tokens:
        total_liklehood *= likelihood_smothed(token, spam_ham, k)
    
    return total_liklehood

In [79]:
# Calculate liklehood probability
def likelihood(token, spam_ham):
    if spam_ham == 1:
        num_words = num_words_spam
        token_count = sum([sent.split(" ").count(token) for sent in df[df['Class'] == 'spam']['Email']])        
    else:
        num_words = num_words_ham
        token_count = sum([sent.split(" ").count(token) for sent in df[df['Class'] == 'ham']['Email']])
        
    return token_count / num_words

num_words_spam

9

In [80]:
# Calculate liklehood probability
def likelihood_smothed(token, spam_ham, k):
    if spam_ham == 1:
        num_words = num_words_spam
        token_count = sum([sent.split(" ").count(token) for sent in df[df['Class'] == 'spam']['Email']])        
    else:
        num_words = num_words_ham
        token_count = sum([sent.split(" ").count(token) for sent in df[df['Class'] == 'ham']['Email']])
        
    return (token_count + k) / (num_words + k * num_of_classes)

In [84]:
# Using laplacian smoothed to avoid overfitting
naive_bayes_spam_smoothed('today is secret', 1, 1)

0.48575712143928035

In [83]:
naive_bayes_spam_smoothed('today is secret', 0, 1)

0.3199626865671642